<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Giedrius. S.{% endblock %}</title>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body data-bs-theme="dark">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Giedrius</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.get("_route") == "home" %}active{% endif %}" aria-current="page" href="{{ path('home') }}">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.get('_route') == 'weather_home' %}active{% endif %}" href="{{ path('weather_home') }}">Weather</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
