{% extends 'base.html.twig' %}

{% block body %}
    <div class="row pt-5">

        <div class="col-sm-12 col-md-8">
            <h2 class="mb-4">Giedrius Slegeris,</h2>
            <p id="profile-description">
                I'm a versatile software engineer with a passion for building scalable and efficient systems. With a strong
                foundation in databases, PHP, and Golang. I specialize in designing and implementing microservice
                architectures as well as web applications that solve complex technical challenges. My experience spans
                full-stack development, API integrations, and performance optimization, allowing me to deliver reliable,
                high-performance solutions tailored to both user and business needs.
            </p>
        </div>

        <div class="col-sm-12 col-md-4">
        </div>
    </div>
{% endblock %}