/* How this works section */
#how-this-works-link {
    margin-bottom: 1em;
}
#how-this-works-link a {
    text-decoration: none;
}

#loc-country {
    font-size: 14pt;
}
#temperature {
    font-size: 40pt;
    display: inline-grid;
}
#current-description {
    font-size: 10pt;
}

span.badge {
    font-size: 12pt;
    font-weight: initial;
    width: initial;
}

#next-six-hours p {
    margin-bottom: 0.5em;
}

/* images section */
#weather-image-current {
    max-height: 160px;
}
#next-forecast img {
    max-height: 30px;
}